###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
#
# NOTES: This config file provides you with some example contact and contact
# group definitions that you can reference in host and service
# definitions.
#
# You don't need to keep these definitions in a separate file from your
# other object definitions.  This has been done just to make things
# easier to understand.
#
###############################################################################
###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################
# Just one contact defined by default - the Naemon admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact'
# template which is defined elsewhere.
# alias                          Naemon Admin                        ; Full name of user
define contact {
  contact_name                   admin                               ; Short name of user
  alias                          AdminDPC
  use                            generic-contact                     ; Inherit default values from generic-contact template (defined above)
  email                          naemon@localhost                    ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
}

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################
# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.
# alias                          Naemon Admin                        ; Full name of user
define contact {
  contact_name                   nagiosadmin                         ; Short name of user
  alias                          AdminDPC
  use                            generic-contact                     ; Inherit default values from generic-contact template (defined above)
  email                          naemon@localhost                    ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
}

define contactgroup {
  contactgroup_name              admins
  alias                          Naemon Administrators
  members                        admin,nagiosadmin
}

define contactgroup {
  contactgroup_name              Supervisors
  alias                          Naemon Administrators
  members                        admin,nagiosadmin
}

define contact {
  contact_name                   glpi
  alias                          glpi
  use                            generic-contact
  can_submit_commands            0
  contactgroups                  GLPI
  email                          nomail@localhost
  host_notification_commands     notify-host-by-glpi
  host_notification_options      d,u
  host_notification_period       24x7
  host_notifications_enabled     1
  service_notification_commands  notify-service-by-glpi
  service_notification_options   w,c
}

define contactgroup {
  contactgroup_name              GLPI
  alias                          Guest
  members                        glpi
}

