###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
# example of how you can create configuration entries to monitor
# the local (Linux) machine.
#
###############################################################################
###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################
# Define a host for the local machine
# This host definition will inherit all variables that are defined
# in (or inherited by) the linux-server host template definition.
# hostgroups                     Supervision
define host {
  host_name                      localhost
  alias                          localhost
  address                        127.0.0.1
  use                            linux-server,host-pnp               ; Name of host template to use
  icon_image                     os/debian.png
}

###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################
# Define an optional hostgroup for Linux machines
define hostgroup {
  hostgroup_name                 linux-servers                       ; The name of the hostgroup
  alias                          Linux Servers                       ; Long name of the group
  members                        localhost                            ; Comma separated list of hosts that belong to this group
}

###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################
# Define a service to "ping" the local machine
define service {
  service_description            PING
  host_name                      localhost
  use                            generic-active-service,service-pnp  ; Name of service template to use
  check_command                  check_ping!100.0,20%!500.0,60%
  icon_image                     hardware/net-tools.png
}

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.
define service {
  service_description            Root Partition
  host_name                      localhost
  use                            generic-active-service,service-pnp  ; Name of service template to use
  check_command                  check_local_disk!10%!20%!/
  icon_image                     hardware/storage.png
}

# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.
define service {
  service_description            Current Users
  host_name                      localhost
  use                            generic-active-service,service-pnp  ; Name of service template to use
  check_command                  check_local_users!20!50
  icon_image                     tux.png
}

# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.
define service {
  service_description            Total Processes
  host_name                      localhost
  use                            generic-active-service              ; Name of service template to use
  check_command                  check_local_procs!250!400!RSZDT
  icon_image                     hardware/monitoring.png
}

# Define a service to check the load on the local machine.
define service {
  service_description            Current Load
  host_name                      localhost
  use                            generic-active-service,service-pnp  ; Name of service template to use
  check_command                  check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
  icon_image                     hardware/load.png
}

# Define a service to check the swap usage the local machine.
# Critical if less than 10% of swap is free, warning if less than 20% is free
define service {
  service_description            Swap Usage
  host_name                      localhost
  use                            generic-active-service,service-pnp  ; Name of service template to use
  check_command                  check_local_swap!20!10
  icon_image                     hardware/memory.png
}

# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.
define service {
  service_description            SSH
  host_name                      localhost
  use                            generic-active-service,service-pnp  ; Name of service template to use
  check_command                  check_ssh
  icon_image                     hardware/ssh.png
  notifications_enabled          0
}

# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.
define service {
  service_description            HTTP
  host_name                      localhost
  use                            generic-active-service,service-pnp  ; Name of service template to use
  check_command                  check_http
  icon_image                     ressources/http.png
  notifications_enabled          0
}

# contact_groups                 admins,Guest
define service {
  service_description            APT_Sofware_update
  host_name                      localhost
  use                            generic-active-service
  check_command                  check_apt
  icon_image                     hardware/software.png
  icon_image_alt
}

# contact_groups                 admins,Guest
define service {
  service_description            CPU_Usage
  host_name                      localhost
  use                            generic-active-service,service-pnp
  check_command                  check_cpu!1!80!90
  icon_image                     hardware/monitoring.png
}

define service {
  service_description            CPU_load
  host_name                      localhost
  use                            generic-active-service
  check_command                  check_snmp_cpu!80!90
  contact_groups                 admins
  icon_image                     hardware/cpu.png
}

# contact_groups                 admins,Guest
define service {
  service_description            Disk-/all-storages
  host_name                      localhost
  use                            generic-active-service
  check_command                  check_snmp_storage!/!80!90
  icon_image                     hardware/storage.png
}

# contact_groups                 admins,Guest
define service {
  service_description            Systime
  host_name                      localhost
  use                            generic-active-service
  check_command                  check_systime!300
  icon_image                     hardware/time.png
}

define service {
  service_description            Uptime
  host_name                      localhost
  use                            generic-service
  check_command                  check_snmp_uptime
  contact_groups                 admins
  icon_image                     hardware/time.png
}

# contact_groups                 admins,Guest
define service {
  service_description            Memory
  host_name                      localhost
  use                            generic-active-service,service-pnp
  check_command                  check_memory
  icon_image                     hardware/memory.png
}

# contact_groups                 admins,Guest
define service {
  service_description            snmptrap-service
  host_name                      localhost
  use                            generic-active-service
  active_checks_enabled          0
  check_command                  check-host-alive
  check_freshness                1
  check_interval                 1
  contacts                       glpi
  first_notification_delay       0
  freshness_threshold            3600
  is_volatile                    1
  max_check_attempts             1
  notification_interval          9999999
  notification_options           w,c
  notification_period            24x7
  notifications_enabled          1
  passive_checks_enabled         1
  retry_interval                 1
}

